<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FiltroAutenticazione</filter-name>
        <filter-class>filters.FiltroAutenticazione</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>filters.FiltroAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAdmin</filter-name>
        <url-pattern>/Admin_Page</url-pattern>
        <url-pattern>/admin_page.jsp</url-pattern>
        <url-pattern>/lista_aste.jsp</url-pattern>
        <url-pattern>/storico_vendite.jsp</url-pattern>
        <url-pattern>/ListaAste</url-pattern>
        <url-pattern>/StoricoVendite</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutenticazione</filter-name>
        <url-pattern>/User_Page</url-pattern>
        <url-pattern>/user_page.jsp</url-pattern>
        <url-pattern>/acquisti.jsp</url-pattern>
        <url-pattern>/addProduct.jsp</url-pattern>
        <url-pattern>/storico_acquisti.jsp</url-pattern>
        <url-pattern>/storico_aste_perse.jsp</url-pattern>
        <url-pattern>/Acquisti</url-pattern>
        <url-pattern>/AddProduct</url-pattern>
        <url-pattern>/ListaCategorie</url-pattern>
        <url-pattern>/StoricoAcquisti</url-pattern>
        <url-pattern>/Storico_Aste</url-pattern>
        <url-pattern>/offerta_prodotto</url-pattern>
    </filter-mapping>
    <listener>
        <description>listener</description>
        <listener-class>listener.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlet.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlet.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMail</servlet-name>
        <servlet-class>servlet.sendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acquisti</servlet-name>
        <servlet-class>servlet.Acquisti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaProdotti</servlet-name>
        <servlet-class>servlet.RicercaProdotti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoricoAcquisti</servlet-name>
        <servlet-class>servlet.StoricoAcquisti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Page</servlet-name>
        <servlet-class>servlet.User_Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Page</servlet-name>
        <servlet-class>servlet.Admin_Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>offerta_prodotto</servlet-name>
        <servlet-class>servlet.offerta_prodotto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAste</servlet-name>
        <servlet-class>servlet.ListaAste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoricoVendite</servlet-name>
        <servlet-class>servlet.StoricoVendite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAsteDeleted</servlet-name>
        <servlet-class>servlet.ListaAsteDeleted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>servlet.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Storico_Aste</servlet-name>
        <servlet-class>servlet.Storico_Aste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCategorie</servlet-name>
        <servlet-class>servlet.ListaCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendExcel</servlet-name>
        <servlet-class>servlet.SendExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>servlet.UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMail</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acquisti</servlet-name>
        <url-pattern>/Acquisti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaProdotti</servlet-name>
        <url-pattern>/RicercaProdotti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoricoAcquisti</servlet-name>
        <url-pattern>/StoricoAcquisti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Page</servlet-name>
        <url-pattern>/User_Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Page</servlet-name>
        <url-pattern>/Admin_Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>offerta_prodotto</servlet-name>
        <url-pattern>/offerta_prodotto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAste</servlet-name>
        <url-pattern>/ListaAste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoricoVendite</servlet-name>
        <url-pattern>/StoricoVendite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAsteDeleted</servlet-name>
        <url-pattern>/ListaAsteDeleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Storico_Aste</servlet-name>
        <url-pattern>/Storico_Aste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCategorie</servlet-name>
        <url-pattern>/ListaCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendExcel</servlet-name>
        <url-pattern>/SendExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/asteonline?zeroDateTimeBehavior=convertToNull</param-value>
    </context-param>
</web-app>
